@import 'react-data-grid/lib/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

  
html, body {
  background-color: #000;
  height: 100%;
  margin: 0;
  padding: 0;
}


#root {
  height: 100%;

}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.content {
  flex-grow: 1;
}

.radial-gradient {
  background: radial-gradient(
          circle at 50% 0%,
          rgba(var(--radial-gradient-background), 0.05) 0%,
          transparent 60%
      )
      rgba(var(--solid-color-background), 1);
}

.linear-mask {
  mask-image: linear-gradient(
      -75deg,
      white calc(var(--x) + 20%),
      transparent calc(var(--x) + 30%),
      white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
      -75deg,
      white calc(var(--x) + 20%),
      transparent calc(var(--x) + 30%),
      white calc(var(--x) + 100%)
  );
}
  
